In [1]:
print('Whats up, Data nerds?')

Whats up, Data nerds?

In [9]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

Downloading readme: 100%|██████████| 28.0/28.0 [00:00<00:00, 28.0kB/s]
Downloading data: 100%|██████████| 231M/231M [00:02<00:00, 94.5MB/s]
Generating train split: 100%|██████████| 785741/785741 [00:06<00:00, 128602.67 examples/s]

In [26]:
job_description = df[['job_title', 'job_location']].iloc[:5]
job_description

# la manera mas sencilla era esta (sin tener que hacer varias lineas de código o escribir de más)
# df.iloc[:5, [1, 2]]
# siendo :5 (se sobre entiende que parte del index hasta el 5) y finalmente [1, 2] siendo job title y job location respectivamente.

,job_title,job_location
0,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT"
1,Data Analyst,"Guadalajara, Jalisco, Mexico"
2,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany"
3,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX"
4,Data Engineer- Sr Jobs,"Washington, DC"