In [1]:
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt  

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [3]:
df_DA_US = df[(df['job_title_short'] == 'Data Analyst') & (df['job_country'] == 'United States')].copy().dropna(subset=['salary_year_avg'])

In [6]:
df_DA_US_exploded = df_DA_US.explode('job_skills')

df_DA_US_exploded[['salary_year_avg', 'job_skills']].head(5)

     salary_year_avg job_skills
109          89000.0     python
109          89000.0          r
109          89000.0    alteryx
109          89000.0    tableau
180          90250.0      excel

In [23]:
df_DA_skills = df_DA_US_exploded.groupby('job_skills')['salary_year_avg'].agg(['count', 'median']).sort_values(by='count', ascending=False)

df_DA_skills = df_DA_skills.rename(columns={'count': 'skill_count', 'median': 'median_salary'})

DA_job_count = len(df_DA_US)

df_DA_skills['skill_percent'] = df_DA_skills['skill_count'] / DA_job_count * 100
df_DA_skills['skill_percent'] = df_DA_skills['skill_percent'].round(1)

skill_percent = 5

df_DA_skills_high_demand = df_DA_skills[df_DA_skills['skill_percent'] > skill_percent]

df_DA_skills_high_demand

            skill_count  median_salary  skill_percent
job_skills
sql                2508       91000.00           57.7
excel              1808       84392.00           41.6
python             1431       97500.00           32.9
tableau            1364       92875.00           31.4
sas                 926       90000.00           21.3
r                   893       92500.00           20.5
power bi            838       90000.00           19.3
powerpoint          462       85000.00           10.6
word                461       81194.75           10.6
sql server          286       92500.00            6.6
oracle              274       96923.75            6.3
go                  224       90000.00            5.1